<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Catphishing101</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="Container">
            <div class="header">
                <h1>CatPhishing101</h1>
            </div>
            <div class="BodyContent">
                <div class="FAQ">
                    <h2>FAQ</h2>
                    <button type="button" class="FAQCollapse">What is Phishing?</button>
                    <div class="FAQContent">
                        <p>A Phishing email is a type of internet scam in which an attacker trys to trick a victim into thinking a fraudulent email is legitimate.
                        </p>
                    </div>
                    <button type="button" class="FAQCollapse">How does CatPhishing101 work?</button>
                    <div class="FAQContent">
                        <p>CatPhishing101 works by collecting information from emails to help determine legitimacy.<br> We examine:<br>
                            - The sender email.<br>
                            - The content of the email.<br>
                            We feed this information to an algorithm, which determines the likeihood of a scam email.
                        </p>
                    </div>
                    <button type="button" class="FAQCollapse">Do you collect data?</button>
                    <div class="FAQContent">
                        <p>CatPhishing101 examines your email data, but never collects or transfers your data.</p>
                    </div>
                    <button type="button" class="FAQCollapse">Can I trust CatPhishing101?</button>
                    <div class="FAQContent">
                        <p>No security tool is 100% foolproof against scams.<br>
                        CatPhishing101 can be a helpful tool to discover scams, but conduct your own independant assessment for validation. </p>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="Button" onclick="location.href='index.html';" style="cursor: pointer;"><img src="{{ url_for('static', filename='images/Home.png') }}"><span>Home</span></div>
                <div class="Button" onclick="location.href='help.html';" style="cursor: pointer;"><img src="{{ url_for('static', filename='images/help.png') }}"><span>Help</span></div>
            </div>
        </div>
    </body>

    <script>
    var coll = document.getElementsByClassName("FAQCollapse");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("FAQactive");
        var FAQContent = this.nextElementSibling;
        if (FAQContent.style.display === "block") {
            FAQContent.style.display = "none";
        } else {
            FAQContent.style.display = "block";
        }
      });
    }
    </script>
