<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Catphishing101</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon" type="image/x-icon" href="static/images/cat.jpg">
    </head>
    <body>
        <div class="Container">
            <div class="header">
                <h1>CatPhishing101</h1>
            </div>
            <div class="BodyContenthelp">
                <div class="Operations">
                    <ul>
                        <li><div class="Clickable" onclick="location.href='CheckEmail.html';" style="cursor: pointer;">Back</div></li>
                    </ul>
                </div>
                <div class="InputSpace">
                    <h2>Enter Email Header</h2>
                    <span class="inputarea" role="textbox" name="Header" id="header" contenteditable></span>
                    <h2>Enter Email Content</h2>
                    <span class="inputarea2" role="textbox" name="Content" id="content" contenteditable></span>
                </div>
                <div class="SubmitButton">
                    <button class="submit" name="Submit" id="Submit" onclick="startCountdown2()">Submit</button>
                </div>
                <div id="CountDown">
                    <h3 id="CountDownText">Processing...</h3>
                </div>
                <div id="OutputContainer">
                    <h3>{{result}}</h3>
                    <h5>{{DomainReason}}</h5>
                    <h5>{{GrammerReason}}</h5></li>
                </div>
            </div>
            <div class="footer">
                <div class="Button" onclick="location.href='index.html';" style="cursor: pointer;"><img src="{{ url_for('static', filename='images/Home.png') }}"><span>Home</span></div>
                <div class="Button" onclick="location.href='help.html';" style="cursor: pointer;"><img src="{{ url_for('static', filename='images/help.png') }}"><span>Help</span></div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>