html, body {
    width: 400px;
    height: 600px;
    margin: 0;
    overflow-y: auto;
}

.Container {
    display: flex;
    flex-flow: column;
    height: 100%;
    background: #1f2224;
    color:white;
}

.Container .header {
    flex: 0 1 auto;
}

.Container .BodyContent {
    flex: 1 1 auto;
    background-image: url("/static/images/logo.jpg");
    background-position: center;
    background-position: bottom;
}

.Container .BodyContenthelp {
    background-image: none;
    background: #1f2224;
    flex: 1 1 auto;
}

.Container .footer {
    flex: 0 1 auto;
}

.header {
    background: #303334;
}

.header h1 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.footer {
    background: #303334;
    text-align: center;
}

.Button {
    display: inline-block;
    text-align: center;
    width: 80px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.Button img {
    width: 30px;
    height: 30px;
}

.Button span {
    display: block;
}

.Operations {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.Operations ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.Clickable {
    margin-bottom: 20px;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #5c6063;
    border-radius: 3px;
    list-style-type: none;
}


.FAQ {
    margin-left: 5px;
    margin-top: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 456px;
    flex: 1 1 auto;
}

.FAQ::-webkit-scrollbar {
    display: none;
}

.FAQCollapse {
    background-color: #303334;
    cursor: pointer;
    padding-left: 5px;
    width: 80%;
    text-align: left;
    font-size: 15px;
    color: white;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.FAQContent {
    display: none;
    overflow: hidden;
    margin-right: 5px;
    line-height: 1.6;
}

.FAQactive, .FAQCollapse:hover {
    background-color: #414343;
}

.InputSpace h2 {
    text-align: center;
}

.inputarea {
    display: block;
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    max-height: 160px;
    line-height: 20px;
    background: #303334;
}

.inputarea[contenteditable]:empty::before {
    content: "Enter Email Header Here"
}
.inputarea2  {
    display: block;
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    max-height: 120px;
    line-height: 20px;
    background: #303334;
    margin-bottom: 20px;
}
.inputarea2[contenteditable]:empty::before {
    content: "Enter Email Content Here"
}

.submit {
    display: block;
    margin: 0 auto;
}

#CountDown {
    display: none;
}

#OutputContainer {
    background-color: #303334;
    text-align: center;
}

#OutputContainer h5 {
    font-size: medium;
}

.UpLoaderSpace {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 5% auto;
    align-items: center;
    justify-content: center;
    background-color: #5c6063;
    border-radius: 20px;
    border: 2px dashed;
    cursor: pointer;
    text-align: center;
}

#UpLoadSpace {
    position: relative;
    width: 100%;
    height: 100%;
}

#input-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

#OutputContainer ul {
    list-style: none
}

#OutputContainer li {
    margin-bottom: 5px;
    font-size: large;
}